/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
main > .container {
    padding: 5px 015px 0;
    font-family: Consolas;
    font-size: 13px;
    max-width: none;
}

main {
    padding-top: 54px;
    padding-bottom: 88px;
    width: 100%;
    margin: 0 auto;
}

#room-info {
    font-size: 20px;
    font-family: var(--bs-font-sans-serif);
}

#bottomFooter,
.custom-border-0,
#left-panel,
#right-panel {
    border: solid;
    border-color: black;
    border-width: 1px;
}

#left-panel-top-row {
    max-height: 10vh !important;
    min-height: 10vh !important;
}

.row {
    /* margin-top: 60px; */
    margin-bottom: 1px;
    margin-top: 1px;
    min-height: 60vh !important;
}

.row > .col-md-4 > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#left-panel,
#right-panel {
    padding: 5px 15px 5px 15px;
    font-family: Consolas;
    font-size: 13px;
    max-width: none;
    border-radius: 5px;
}

#left-panel {
    margin-right: 1px;
    padding: 20px;
}

#right-panel {
    margin-left: 1px;
}