/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
main > .container {
    padding: 5px 015px 0;
    font-family: Consolas;
    font-size: 13px;
    max-width: none;
}

main {
    padding: 54px 0;
    width: 100%;
    margin: 0 auto;
}

#room-info {
    font-size: 20px;
    font-family: var(--bs-font-sans-serif);
}

#bottomFooter,
.custom-border-0,
#left-panel,
#right-panel {
    border: solid;
    border-color: black;
    border-width: 1px;
}

.row {
    /* margin-top: 60px; */
    margin-bottom: 1px;
    margin-top: 1px;
    max-height: auto;
    min-height: auto;
}

.row > .col-md-4 > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#left-panel,
#right-panel {
    padding: 5px 15px 5px 15px;
    font-family: Consolas;
    font-size: 13px;
    max-width: none;
    border-radius: 5px;
}

#left-panel {
    max-width: none;
    width: 80%;
    margin-right: 1px;
}

#right-panel {
    width: 19.8%;
    margin-left: 1px;
}